.header {
	width: 100%;
	padding: 37px 70px 0px 70px;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.5px;
	@media (max-width: ($md1b+px)) {
		padding: 30px 30px 0px 30px;
	}
	@media (max-width: ($md2+px)) {
		padding: 10px 10px 0px 10px;
	}
	&-logo {
		width: 166px;
		height: 62px;
		margin: 0px 54px 0px 0px;
		background: url("/assets/img/svg/logo_header.svg") no-repeat;
	}
	&-left {
		display: flex;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s, visibility 0.5s;
		.header.active & {
			opacity: 1;
			visibility: visible;
		}
		&-categories {
			position: relative;
			display: block;
			color: #fff;
			padding: 0px 0px 0px 23px;
			cursor: pointer;
			transition: color 0.4s, opacity 0.4s;
			opacity: 0.8;
			@media (max-width: ($md1b+px)) {
				font-size: 0;
				background: url("/assets/img/svg/home.svg") no-repeat;
			}
			.header.active & {
				color: rgba(255, 188, 162, 1);
			}
			&:hover {
				opacity: 1;
				color: rgba(255, 188, 162, 1);
			}
			&::after {
				content: "";
				position: absolute;
				width: 10px;
				height: 20px;
				top: calc(50% - 10px);
				left: 0;
				background: url("/assets/img/svg/arrow_settings.svg") no-repeat;
				background-position: center center;
				background-size: cover;
				transition: filter 0.2s, left 0.5s, opacity 0.4s;
				opacity: 0.8;
				@media (max-width: ($md1b+px)) {
					display: none;
				}
			}
			&:hover::after {
				filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
				left: -15px;
				opacity: 1;
			}
			.header.active &::after {
				filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
			}
		}
		&-categories-name {
		}
	}

	&-right {
		width: 100%;
		max-width: 335px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: ($md1b+px)) {
			max-width: 150px;
		}
		&-home {
			color: #fff;
			cursor: pointer;

			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s, visibility 0.5s, color 0.4s;
			.header.active & {
				opacity: 1;
				visibility: visible;
			}
			&:hover {
				color: rgba(255, 188, 162, 1);
			}
		}
		&-categories {
			color: #fff;
			cursor: pointer;
			display: block;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s, visibility 0.5s, color 0.4s;
			.header.active & {
				opacity: 1;
				visibility: visible;
			}
			&:hover {
				color: rgba(255, 188, 162, 1);
			}
			@media (max-width: ($md1b+px)) {
				display: none;
			}
		}
		&-score {
			color: #fff;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			display: block;
			transition: opacity 0.5s, visibility 0.5s, color 0.4s;
			@media (max-width: ($md1b+px)) {
				display: none;
			}
			.header.active & {
				opacity: 1;
				visibility: visible;
			}
			&:hover {
				color: rgba(255, 188, 162, 1);
			}
		}
	}
	&-settings {
		display: flex;
		justify-content: flex-end;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.5s, visibility 0.5s, filter 0.2s;

		.header.active & {
			opacity: 1;
			visibility: visible;
		}
		&:hover {
			filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
		}
		&_icon {
			width: 36px;
			height: 36px;
			background: url("/assets/img/svg/settings.svg") no-repeat;
			background-position: center center;
			background-size: cover;
			cursor: pointer;
			border-radius: 50%;
		}
	}
}
