//<МИКСИНЫ>===============================================================================================
// @import "mixins";

//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
// @import "fonts";
@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
// @import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1a: $maxWidthContainer + 12;
$md1: 1440;
$md1a: 1350;
$md1b: 925;
$md2: 768.98;
$md3: 580.98;
$md4: 478.98;
$md5: 360.98;

:root {
}

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
}
body {
	min-width: 320px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 1) url("/assets/img/main-screen/main_background2.jpg") no-repeat scroll center center /
		cover;
	// background: rgba(0, 0, 0, 1) url("") no-repeat scroll center center / cover;
	// transition: background-image 1s ease-in-out;
	// background-size: 1440px;
	// background-position: top -60px center;
	// background-blend-mode: multiply;
	// background-size: auto 100%;
	@media (max-width: ($md1 + px)) {
		background-size: cover;
	}
	&._lock {
		overflow: hidden;
	}
	a {
		color: #fff;
	}
}
.overlay-dark {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.53);
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: ($md1a + px)) {
		padding: 0 20px;
	}
	@media (max-width: ($md1 + px)) {
		max-width: 1024px;
	}
	@media (max-width: ($md2 + px)) {
		max-width: 768px;
	}
	@media (max-width: ($md3 + px)) {
		max-width: 420px;
	}
	@media (max-width: ($md5 + px)) {
		max-width: none;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.main {
	width: 100%;
	height: 100%;

	&-container {
		display: flex;
		justify-content: center;
	}
}

.pictures {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	&-container {
		width: 100%;
		max-width: 1300px;
		@media (max-width: ($md1a + px)) {
			max-width: 900px;
		}
		@media (max-width: ($md1b + px)) {
			max-width: 700px;
		}
		@media (max-width: ($md2 + px)) {
			max-width: 500px;
		}
		@media (max-width: ($md3 + px)) {
			max-width: 400px;
		}
		@media (max-width: ($md4 + px)) {
			width: 350px;
		}
		@media (max-width: ($md5 + px)) {
			width: 320px;
		}
		height: 100%;
	}
	&_body {
		padding: 20px;
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 28px;
		column-gap: 5px;
		@media (max-width: ($md1a + px)) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (max-width: ($md1b + px)) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
		@media (max-width: ($md2 + px)) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(6, 1fr);
		}
	}

	&_item {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: 0.5s;
		padding: 10px;
		cursor: pointer;
		@media (max-width: ($md4+px)) {
			max-width: 135px;
		}
		&:hover {
			color: rgba(255, 188, 162, 1);
		}
		&:hover img {
			filter: drop-shadow(0 0 7px rgba(255, 254, 254, 0.3));
		}
		&-title {
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.63px;
			transition: color 0.3s;
			&-container {
				flex: 1 1 auto;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: 0px 0px 10px 0px;
			}
			@media (max-width: ($md4+px)) {
				font-size: 16px;
				line-height: 16px;
			}
		}
		&-count {
			&-container {
				display: none;
				transition: color 0.3s;
				.pictures_item.active & {
					display: block;
				}
			}
		}
		&-img {
			width: 100%;
			max-width: 195px;
			height: 100%;
			max-height: 206px;
			border-radius: 23px;
			background-color: #000;
			transition: filter 0.4s;
			filter: grayscale(90%);
			&.active {
				filter: grayscale(0%);
			}
			&:hover {
				filter: grayscale(0%);
			}
			img {
				width: 100%;
				max-width: 195px;
				height: 100%;
				max-height: 206px;
				border-radius: 23px;
				background-color: #000;
			}
			@media (max-width: ($md4+px)) {
				max-width: 135px;
			}
		}
	}
}
.artist {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	&-container {
		width: 100%;
		max-width: 1300px;
		@media (max-width: ($md1a + px)) {
			max-width: 900px;
		}
		@media (max-width: ($md1b + px)) {
			max-width: 700px;
		}
		@media (max-width: ($md2 + px)) {
			max-width: 500px;
		}
		@media (max-width: ($md3 + px)) {
			max-width: 400px;
		}
		height: 100%;
	}
	&_body {
		padding: 20px;
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 28px;
		column-gap: 5px;
		@media (max-width: ($md1a + px)) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (max-width: ($md1b + px)) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
		@media (max-width: ($md2 + px)) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(6, 1fr);
		}
		@media (max-width: ($md4+px)) {
			row-gap: 10px;
		}
	}

	&_item {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: 0.5s;
		padding: 10px;
		cursor: pointer;
		&:hover {
			color: rgba(255, 188, 162, 1);
		}
		&:hover img {
			filter: drop-shadow(0 0 7px rgba(255, 254, 254, 0.3));
		}
		&-title {
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.63px;
			transition: color 0.3s;
			@media (max-width: ($md4+px)) {
				font-size: 16px;
				line-height: 18px;
			}
			&-container {
				flex: 1 1 auto;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: 0px 0px 10px 0px;
			}
		}
		&-count {
			&-container {
				display: none;
				transition: color 0.3s;
				.artist_item.active & {
					display: block;
				}
			}
		}
		&-img {
			width: 100%;
			max-width: 195px;
			height: 100%;
			max-height: 206px;
			border-radius: 23px;
			background-color: #000;
			transition: filter 0.4s;
			filter: grayscale(90%);
			&.active {
				filter: grayscale(0%);
			}
			&:hover {
				filter: grayscale(0%);
			}
			img {
				width: 100%;
				max-width: 195px;
				height: 100%;
				max-height: 206px;
				border-radius: 23px;
				background-color: #000;
			}
		}
	}
}
.title {
	font-size: 111px;
	font-weight: 700;
	line-height: 159px;
	letter-spacing: -2.42px;
	position: relative;
	@media (max-width: ($md2+px)) {
		font-size: 85px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 70px;
		height: 164px;
		width: 164px;
		border-radius: 50%;
		border: 2.65px #fff solid;
		z-index: 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 155px;
		height: 164px;
		width: 164px;
		border-radius: 50%;
		border: 2.65px #fff solid;
		z-index: 0;
	}
	&-cotainer {
		margin: auto auto;
		display: flex;
		flex-direction: column;
		width: 614px;
		height: 391px;
		margin: 100px 0px 100px 0px;
		@media (max-width: ($md2+px)) {
			width: auto;
		}
	}
}
.categories {
	&-container {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: ($md2+px)) {
			justify-content: center;
			column-gap: 20px;
		}
	}
}
.button {
	&_menu {
		font-size: 22px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -1.15px;
		color: #fff;
		height: 62px;
		width: 287px;
		border-radius: 60px;
		background: transparent;
		border: 1.5px #fff solid;
		transition: background 0.4s;
		@media (max-width: ($md2+px)) {
			width: 170px;
			height: 48px;
		}
		@media (max-width: ($md5+px)) {
			width: 150px;
			height: 48px;
		}
		&:hover {
			color: #000;
			background: #fff;
		}
		&:active {
			transition: background 0s;
			color: #000;
			background: rgba(255, 188, 162, 1);
			border: 1.5px rgba(255, 188, 162, 1) solid;
		}
	}
}
.links {
	color: #fff;
	transition: 0.4s;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}
.settings {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1;
	display: flex;
	flex-direction: column;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.5px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.6s, opacity 0.6s;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	&-title {
		font-size: 34px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: -0.91px;
		margin: 0px 0px 40px 0px;
	}
	&-header {
		display: flex;
		justify-content: space-between;
		margin: 37px 70px 0px 70px;
		transition: filter 0.1s;
		@media (max-width: ($md1b+px)) {
			margin: 30px 30px 0px 30px;
		}
		@media (max-width: ($md2+px)) {
			margin: 10px 10px 0px 10px;
		}
		&_exit-icon {
			width: 166px;
			height: 62px;
			margin: 0px 54px 0px 0px;
			background: url("/assets/img/svg/logo_header.svg") no-repeat;
			cursor: pointer;
		}
		&_title {
			position: relative;
			padding: 0px 0px 0px 33px;
			transition: color 0.4s;
			cursor: pointer;
			display: flex;
			align-items: center;
			&:hover {
				filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
			}
			&::after {
				content: "";
				position: absolute;
				width: 10px;
				height: 20px;
				top: calc(50% - 10px);
				left: 0;
				background: url("/assets/img/svg/arrow_settings.svg") no-repeat;
				background-position: center center;
				background-size: cover;
				transition: left 0.4s;
			}
			&:hover::after {
				left: -10px;
			}
		}
	}
	&-main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 70px 70px 120px 105px;
		width: 100%;
		height: 100%;
		@media (max-width: ($md2+px)) {
			padding: 20px;
		}
		&-container {
			margin: 0px 0px 80px 0px;
			display: flex;
			flex-direction: column;
			@media (max-width: ($md3+px)) {
				margin: 0px 0px 40px 0px;
			}
		}
		&_volume {
			display: flex;
			height: 32px;
			align-items: center;
			margin: 0px 0px 20px 0px;
			&-container {
				width: 100%;
				max-width: 492px;
				height: 140px;
				text-align: left;
			}
			&-title {
			}
			&-icons {
				flex: 1 1 auto;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				&-off {
					width: 21px;
					height: 21px;
					background: url("/assets/img/svg/volume_plus.svg") no-repeat;
					background-position: center center;
					background-size: cover;
					cursor: pointer;
					filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
					&.active {
						filter: brightness(100%);
						width: 29px;
						height: 21px;
						background: url("/assets/img/svg/volume_minus.svg") no-repeat;
						background-position: center center;
						background-size: cover;
						cursor: pointer;
					}
				}
			}
			&-range {
				width: 100%;
				background: linear-gradient(
					to right,
					rgba(255, 188, 162, 1) 40%,
					rgba(255, 188, 162, 1) 40%,
					rgba(164, 164, 164, 1) 0%,
					rgba(164, 164, 164, 1) 100%
				);
				height: 6px;
				border-radius: 5px;
				outline: none;
				appearance: none;
				cursor: pointer;
				&::-webkit-slider-thumb {
					width: 15px;
					height: 15px;
					border-radius: 50%;
					appearance: none;
					cursor: ew-resize;
					background: rgba(255, 255, 255, 1);

					border: 0px;
				}
				&::-ms-thumb {
					width: 15px;
					height: 15px;
					border-radius: 50%;
					appearance: none;
					cursor: ew-resize;
					background: rgba(255, 255, 255, 1);

					border: 0px;
				}
				&::-moz-range-thumb {
					width: 15px;
					height: 15px;
					border-radius: 50%;
					appearance: none;
					cursor: ew-resize;
					background: rgba(255, 255, 255, 1);

					border: 0px;
				}
			}
		}
		&_timegame {
			position: relative;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				left: 60px;
				width: 16px;
				height: 16px;
				top: calc(50% - 7px);
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.8);

				z-index: 3;
				transition: 0.3s;
			}
			&::before {
				content: "";
				position: absolute;
				left: 55px;
				width: 48px;
				height: 24px;
				top: calc(50% - 11px);
				border-radius: 25px;
				background-color: #fff;
				opacity: 0.7;
				z-index: 2;
			}
			&.active::after {
				opacity: 1;
				left: 80px;
			}
			&.active::before {
				opacity: 1;
				background: rgba(255, 188, 162, 1);
			}
			&-container {
				text-align: left;
			}
			&-title {
			}
		}
		&_amount {
			margin: 0px 24px 0px 24px;
			&-container {
				margin: 0px 0px 0px 0px;
				text-align: left;
			}
			&-title {
			}
			&-wrap {
				display: flex;
				align-items: center;
			}
			&-minus {
				position: relative;
				width: 36px;
				height: 36px;
				background: rgba(255, 188, 162, 1);
				border-radius: 50%;
				cursor: pointer;
				transition: background 0.4s;
				&::after {
					content: "";
					position: absolute;
					width: 16px;
					height: 3px;
					top: calc(50% - 1.5px);
					left: calc(50% - 8px);
					border-radius: 5px;
					background: #000;
				}
				&:hover {
					background: #fff;
				}
			}
			&-plus {
				position: relative;
				width: 36px;
				height: 36px;
				background: rgba(255, 188, 162, 1);
				border-radius: 50%;
				cursor: pointer;
				transition: background 0.4s;
				&::after {
					content: "";
					position: absolute;
					width: 16px;
					height: 3px;
					top: calc(50% - 1.5px);
					left: calc(50% - 8px);
					border-radius: 5px;
					background: #000;
				}
				&::before {
					content: "";
					position: absolute;
					height: 16px;
					width: 3px;
					left: calc(50% - 1.5px);
					top: calc(50% - 8px);
					border-radius: 5px;
					background: #000;
				}
				&:hover {
					background: #fff;
				}
			}
		}
	}
	&-buttons-container {
		width: 100%;
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
}
#settings-default {
	margin: 0px 8px 0px 0px;
}
.questions-author {
	margin: 0 auto;
	width: 100%;
	max-width: 825px;
	height: 100%;
	max-height: 754px;
	&-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&-title {
		font-size: 28px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: -0.5px;
		margin: 0px 0px 52px 0px;
		text-align: left;
	}
	&-picture {
		// width: 100%;
		// max-width: 825px;
		// height: 100%;
		// max-height: 498px;
		margin: 0 auto;
		height: 45vh;
		width: 826px;

		background: rgba(0, 0, 0, 1) url("/assets/img/question/author/1.jpg") no-repeat scroll center center / cover;
		border-radius: 25px;
		@media (max-width: ($md1b+px)) {
			width: 626px;
		}
		@media (max-width: ($md2+px)) {
			height: 398px;
			width: 100%;
		}
	}
	&-bullets {
		width: 100%;
		max-width: 330px;
		margin: 15px auto;
		display: flex;
		justify-content: space-between;
	}
	&-bullet {
		width: 15px;
		height: 15px;
		background: #c4c4c4;
		border-radius: 50%;
	}
	&-answers {
		font-size: 22px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -1.15px;
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 15px;
		column-gap: 25px;
	}
	&-answer {
		width: 100%;
	}
	&-header {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 826px;
		&_exit-icon {
			width: 36px;
			height: 36px;
			background: url("/assets/img/svg/exit_settings.svg") no-repeat;
			background-position: center center;
			background-size: 18px 18px;
			cursor: pointer;
			&:hover {
				filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
			}
		}
	}
	&-time {
		&_count {
		}
		&-progress {
			width: 100%;
			background: linear-gradient(
				to right,
				rgba(255, 188, 162, 1) 40%,
				rgba(255, 188, 162, 1) 40%,
				rgba(164, 164, 164, 1) 0%,
				rgba(164, 164, 164, 1) 100%
			);
			height: 6px;
			border-radius: 5px;
			outline: none;
			appearance: none;
			margin: 0px 20px 0px 20px;
		}
		&-container {
		}
	}
}
.questions-picture {
	margin: 0 auto;
	width: 100%;
	max-width: 825px;
	height: 100%;
	max-height: 754px;
	&-container {
	}
	&-title {
		font-size: 28px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: -0.5px;
		margin: 0px 0px 52px 0px;
		text-align: left;
	}
	&-athor {
	}
	&-bullets {
		width: 100%;
		max-width: 330px;
		margin: 15px auto;
		display: flex;
		justify-content: space-between;
	}
	&-bullet {
		width: 15px;
		height: 15px;
		background: #c4c4c4;
		border-radius: 50%;
	}
	&-answers {
		margin: 0 auto;
		width: 100%;
		max-width: 625px;
		height: 100%;
		max-height: 585px;
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 25px;
		column-gap: 25px;
	}
	&-answer {
		width: 100%;
		height: 100%;
		max-height: 250px;
		border-radius: 22px;
		filter: brightness(80%);
		transition: filter 0.4s;
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			&.correct {
				filter: invert(23%) sepia(72%) saturate(2700%) hue-rotate(96deg) brightness(101%) contrast(103%)
					opacity(0.5);
			}
			&.uncorrect {
				filter: invert(11%) sepia(58%) saturate(22%) hue-rotate(1deg) brightness(19%) contrast(118%);
			}
		}
		&:hover {
			filter: brightness(110%) drop-shadow(0 0 7px rgba(255, 254, 254, 0.3));
		}
	}
	&-header {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 826px;
		&_exit-icon {
			width: 36px;
			height: 36px;
			background: url("/assets/img/svg/exit_settings.svg") no-repeat;
			background-position: center center;
			background-size: 18px 18px;
			cursor: pointer;
			transition: filter 0.2s;
			&:hover {
				filter: invert(71%) sepia(48%) saturate(366%) hue-rotate(323deg) brightness(204%) contrast(106%);
			}
		}
	}
	&-time {
		&_count {
		}
		&-progress {
			width: 100%;
			background: linear-gradient(to right, #ffbca2 40%, #ffbca2 40%, #a4a4a4 0%, #a4a4a4 100%);
			height: 6px;
			border-radius: 5px;
			outline: none;
			appearance: none;
			margin: 0px 20px 0px 20px;
		}
		&-container {
		}
	}
}
.modal {
	&-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		transition: visibility 0.5s, opacity 0.5s;
		visibility: hidden;
		opacity: 0;
		z-index: 5;
		&.show {
			visibility: visible;
			opacity: 1;
		}
	}
	&-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&-exite {
		border-radius: 20px;
		position: absolute;
		width: 580px;
		height: 340px;
		top: calc(50% - 170px);
		left: calc(50% - 290px);
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 30px;
		transition: opacity 0.5s, visibility 0.5s;
		opacity: 0;
		visibility: hidden;
		&.show {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: ($md3+px)) {
			padding: 10px;
			width: 340px;
			height: 240px;
			top: calc(50% - 120px);
			left: calc(50% - 170px);
		}
		&-icon {
			width: 36px;
			height: 36px;
			background: url("/assets/img/svg/exit_modal.svg") no-repeat;
			background-position: center center;
			cursor: pointer;
			opacity: 0.6;
			transition: opacity 0.4s;
			margin: 0px 0px 0px auto;
			&:hover {
				opacity: 1;
			}
		}
		&-title {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 32px;
			font-weight: 500;
			line-height: 36px;
			letter-spacing: -0.5px;
			color: #000;
			@media (max-width: ($md3+px)) {
				font-size: 22px;
				line-height: 23px;
			}
		}
		&-buttons {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
			column-gap: 20px;
			& .button_menu {
				border: solid 1.5px #000;
				color: #000;
				width: 100%;
				max-width: 251px;
				&:hover {
					background: #ffbca2;
					border: solid 1.5px #ffbca2;
				}
			}
		}
	}
	&-correct {
		color: #000;
		border-radius: 20px;
		position: absolute;
		width: 522px;
		height: 689px;
		top: calc(50% - 344.5px);
		left: calc(50% - 261px);
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 30px;

		transition: transform 0.5s;
		transform: scale(0%);
		&.show {
			transform: scale(100%);
		}
		@media (max-width: ($md3+px)) {
			padding: 10px;
			width: 328px;
			height: 428px;
			top: calc(50% - 214px);
			left: calc(50% - 164px);
		}

		&-picture {
			position: relative;
			flex: 1 1 auto;
			background: url("/assets/img/modal/modal_correct.jpg") no-repeat;
			background-position: center center;
			border-radius: 20px;
			@media (max-width: ($md3+px)) {
				background-size: cover;
			}
		}
		&-icon {
			position: absolute;
			bottom: 50px;
			left: 30px;
			width: 60px;
			height: 60px;
			background: url("/assets/img/svg/correct_answer.svg") no-repeat;
			background-position: center center;
			border-radius: 50%;
		}
		&-name {
			font-size: 32px;
			font-weight: 500;
			line-height: 39px;
			letter-spacing: 0em;
			text-align: center;
			margin-bottom: 10px;
			@media (max-width: ($md3+px)) {
				font-size: 22px;
				line-height: 23px;
			}
		}
		&-author {
			&-container {
				font-size: 22px;
				font-style: italic;
				font-weight: 400;
				line-height: 26px;
				letter-spacing: 0em;
				text-align: center;
				margin-bottom: 36px;
				@media (max-width: ($md3+px)) {
					font-size: 16px;
					line-height: 19px;
				}
			}
		}
		&-year {
		}
		& .button_menu {
			border: solid 1.5px #000;
			color: #000;
			width: 100%;
			max-width: 251px;
			&:hover {
				background: #ffbca2;
				border: solid 1.5px #ffbca2;
			}
		}
	}
	&-end {
		color: #000;
		border-radius: 20px;
		position: absolute;
		width: 522px;
		height: 608px;
		top: calc(-150% - 304px);
		left: calc(50% - 261px);
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 40px;
		transition: top 0.5s;
		&.show {
			top: calc(50% - 344.5px);
		}
		@media (max-width: ($md3+px)) {
			padding: 10px;
			width: 328px;
			height: 428px;
			top: calc(-150% - 214px);
			left: calc(50% - 164px);
			&.show {
				top: calc(50% - 214px);
			}
		}
		&-icon {
			margin: 20px 0px 0px 0px;
			width: 100%;
			height: 100%;
			max-height: 178px;
			background: url("/assets/img/svg/star_champion-cup.svg") no-repeat;
			background-position: center center;
			background-size: contain;
			@media (max-width: ($md3+px)) {
				background-size: 169 160;
			}
		}
		&-title {
			flex: 1 1 auto;
			font-size: 82px;
			font-weight: 700;
			line-height: 102px;
			letter-spacing: 0em;
			text-align: center;
			@media (max-width: ($md3+px)) {
				font-size: 48px;
				font-weight: 700;
				line-height: 48px;
				letter-spacing: -0.5px;
			}
		}
		&-subtitle {
			font-size: 42px;
			font-weight: 600;
			line-height: 51px;
			letter-spacing: 0em;
			text-align: center;
			margin-bottom: 60px;
			@media (max-width: ($md3+px)) {
				font-size: 22px;
				font-weight: 500;
				line-height: 28px;
				letter-spacing: -0.5px;
			}
		}
		&-buttons {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
			column-gap: 20px;
			& .button_menu {
				border: solid 1.5px #000;
				color: #000;
				width: 100%;
				max-width: 251px;

				&:hover {
					background: #ffbca2;
					border: solid 1.5px #ffbca2;
				}
			}
		}
	}
}
